<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stomp.chatting.mapper.MessageMapper">
    <resultMap id="UserResultMap" type="com.stomp.chatting.entity.User">
        <id property="userId" column="ut_user_id"/>
        <id property="username" column="username"/>
        <id property="createDt" column="ut_create_dt"/>
    </resultMap>
    <resultMap id="MessageResultMap" type="com.stomp.chatting.entity.Message">
        <id property="messageId" column="message_id"/>
        <result property="chatRoomId" column="mt_chat_room_id"/>
        <result property="userId" column="mt_user_id"/>
        <result property="content" column="content"/>
        <result property="type" column="type"/>
        <result property="createDt" column="mt_create_dt"/>
        <association property="user" resultMap="UserResultMap"/>
    </resultMap>
    <insert id="insertMessage" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO
            message_tb
        VALUES
            (0, #{chatRoomId}, #{userId}, #{content}, #{type}, NOW())
    </insert>
    <select id="getMessageByMessageId" resultMap="MessageResultMap">
        SELECT
            mt.message_id,
            mt.chat_room_id as mt_chat_room_id,
            mt.user_id,
            mt.content,
            mt.type,
            mt.create_dt as mt_create_dt,

            ut.user_id as ut_user_id,
            ut.username,
            ut.create_dt as ut_create_dt
        FROM
            message_tb mt
            LEFT JOIN user_tb ut ON (mt.user_id = ut.user_id)
        WHERE
            mt.message_id = #{messageId}
    </select>
</mapper>